<?xml version="1.0" encoding="utf-8" ?>
<configuration>   
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

 <connectionStrings>
    <add name="YouthCenterDataBase" 
         connectionString ="Data Source=LINKPC\SQLEXPRESS;Initial Catalog=YouthCenter;Integrated Security=True;
         Connect Timeout=15;Encrypt=False;
         TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    </connectionStrings>
</configuration>