@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script src="~/scripts/jquery-2.2.3.js"></script>




<button type="button" onclick="EnterUserId()"> Enter id </button>
<div id="UserIdDiv">
    <input type="text" maxlength="20" id="UserIdValue" >
    <br>
    <button type="button" onclick="ConfirmUserId('#UserIdDiv')"> Confirm </button>
    </div>
    <br>









<script>
    var currentUserId;
    $(document).ready(function () {
        $('#UserIdDiv').hide();

        $('#ShowMessages').click(function () {
            $('#ToShowMessagesDiv').slideToggle("1000");
            //alert($("p").text());

            /*for (var i = 0 ; i < $("p").length; i++) {
                alert($("p")[i].textContent);
               
            }*/
        });

        

    });
   
    function ConfirmUserId(id) {
        $(id).slideToggle("1000");
        currentUserId = $('#UserIdValue').val();
       // alert(currentUserId);
    }
    function EnterUserId() {
        $('#UserIdDiv').slideToggle("1000");
    }







    function GetKeyWords() {

        $.ajax({
            type: "GET",
            url: "../Home/GetKeyWords",
            success: function (json) {
                var result = JSON.parse(json);
                
                alert(json);
                
              
            }
        });
    }
    function TestFunc() {
        var json = '{"бррр":1,"слово":2,"имба":3}';
        var result = JSON.parse(json);
            
        var resultString = "";
        Object.keys(result).forEach(function (item) {
            resultString += item.toString();
        });
        alert(resultString);
    }
</script>