@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<button type="button" onclick="GoToVK()"> VK authorize </button>
<button type="button" onclick="SetToken()"> Get token </button>
<button type="button" onclick="ShowFriends()"> Show friends </button>
<button type="button" onclick="GetTextsFromPosts()"> get wall </button>

<button type="button" onclick="TestGet()"> Get test values </button>

<script>
    
    function SetToken() {
        var accessToken = "";
        var currentUrl = window.location.href.toString();
        var currentInd = currentUrl.indexOf('access_token=');


        if (currentInd == -1) { return 'WRONG'; }
        currentInd += 'access_token='.length;

        //alert(currentUrl.substr(currentInd,currentInd+10));
        
        for (currentInd; currentInd < currentUrl.length; currentInd++) {
            if (currentUrl[currentInd] == '&') { break; }
            else {
                accessToken += currentUrl[currentInd];
            }
        }

            $.get("http://localhost:63643/Home/SetToken", {accessToken : accessToken} , function (data) {
                alert("Token has been received.");
            });
    }

    function GoToVK() {
        window.location.href = 'https://oauth.vk.com/authorize?client_id=5425400&scope=99999999,status&redirect_uri=http://localhost:63643/Home/Index&display=page&v=5.50&response_type=token';

    }

   

    function ShowFriends() {

        $.get("http://localhost:63643/Home/GetFriends", function (json) {
            var result = JSON.parse(json);
            result.forEach(function (item, i) {
                alert(item);
            });
        }
        );
    }
    


    function TestFunc() {
       /* var json = '{"resp": [123,123]}';
        var json2 = '{"resp : "}'

        var result = JSON.parse(json);

        result.resp.forEach(function (item, i) {
            alert(i + " : " + item);
        });*/

        var json = '{"resp" : [1117,{"id" = 1,"name" = "zhenya"}]}';
        var result = JSON.parse(json);
       // alert(json);
        alert("fasdasf");
    }

    function GetTextsFromPosts() {
        $.get("http://localhost:63643/Home/GetWall", function (json) {
            var result = JSON.parse(json);
            result.forEach(function (item, i) {
                alert(item);
            });
           
            

        });
    }


    function TestGet() {
        $.get("http://localhost:63643/Home/TestGet", function (obj) {
            //  var result = JSON.parse(json);

            alert(obj);
        }
       );
    }
</script>