@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<button type="button" onclick="GoToVK()"> VK authorize </button>
<button type="button" onclick="SetToken()"> Get token </button>
<br><br>
<button type="button" onclick="GetTextsFromPosts()"> </button>
<button type="button" onclick="GetLinks('Собака')"> Get links</button>

<script>
    
    function SetToken() {
        var accessToken = "";
        var currentUrl = window.location.href.toString();
        var currentInd = currentUrl.indexOf('access_token=');


        if (currentInd == -1) { return 'WRONG'; }
        currentInd += 'access_token='.length;

        //alert(currentUrl.substr(currentInd,currentInd+10));
        
        for (currentInd; currentInd < currentUrl.length; currentInd++) {
            if (currentUrl[currentInd] == '&') { break; }
            else {
                accessToken += currentUrl[currentInd];
            }
        }

            $.get("http://localhost:63643/Home/SetToken", {accessToken : accessToken} , function (data) {
                alert("Token has been received.");
            });
    }
    function GoToVK() {
        window.location.href = 'https://oauth.vk.com/authorize?client_id=5425400&scope=99999999,status&redirect_uri=http://localhost:63643/Home/Index&display=page&v=5.50&response_type=token';

    }
    function ShowFriends() {
/*
        $.get("http://localhost:63643/Home/GetFriends", function (json) {
            var result = JSON.parse(json);
            var resultStirng = "";
            result.forEach(function (item, i) {
                resultStirng += item+=',';
            });
            alert(resultStirng);
        }
        
        );*/

        $.ajax({
            type: "GET",
            url: "http://localhost:63643/Home/GetFriends",
            success: function (json) {
                var result = JSON.parse(json);
                var resultStirng = "";
                result.forEach(function (item, i) {
                    resultStirng += item += ',';
                });
                alert(resultStirng);
            }
        });
        
    }


    function GetTextsFromPosts() {
        $.get("http://localhost:63643/Home/GetWall", function (json) {
            var result = JSON.parse(json);
            var resultString = "";
            result.forEach(function (item, i) {
                resultString += item;
            });
           
            alert(resultString);
        });
    }


    function TestFunc() {
       /* $.ajax({
            type: "GET",
            url: "https://ru.wikipedia.org/w/api.php?action=opensearch&search=Ян&limit=1&utf8=true",
            success: function (json) {
                var result = JSON.parse(json);
                var resultStirng = "";
                result.forEach(function (item, i) {
                    resultStirng += item += ',';
                });
                alert(resultStirng);
            }
        });*/

        var json = '["ян",["Ян"],["Ян (имя) — мужское имя, список персон, известных по имени."],["https://ru.wikipedia.org/wiki/%D0%AF%D0%BD","https://ru.wikipedia.org/wiki/%D0%AF%D0%BD"]]';
        var result = JSON.parse(json);

        var resultString = "";
        result[3].forEach(function (item, i) {
            resultString += item+=";";
        });

        alert(resultString);
    }



    function GetLinks(word,secondWord) {
        $.ajax({
            type: "GET",
            url: "../Home/GetNumberOfLinks",
            data:{"word":word},
            success: function (dataFromServer) {
                alert(dataFromServer);
            }
        });
    }

</script>