@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script src="~/scripts/jquery-2.2.3.js"></script>



<button type="button" onclick="Filter()"> Filter </button>
<br>
<div id="InfoDiv">
    User id <br>
     <input type="text" maxlength="20" id="UserIdValue" > 
        <br>
    Offset <br>
     <input type="text" id="OffsetValue" >
        <br>
    <button type="button" onclick="ConfirmInfo('#InfoDiv')"> Confirm </button>
    
</div>
    <br>

<button type="button" onclick="ShowMessages()" id="ShowMessagesButton"> Show messages </button>
<div id="MessagesDiv">
    <p id="p0"></p>
    <p id="p1"></p>
    <p id="p2"></p>
    <p id="p3"></p>
    <p id="p4"></p>
    <p id="p5"></p>
    <p id="p6"></p>
    <p id="p7"></p>
    <p id="p8"></p>
    <p id="p9"></p>
    <p id="p10"></p>   
    <p id="p11"></p>
    <p id="p12"></p>
    <p id="p13"></p>
    <p id="p14"></p>
    <p id="p15"></p>
    <p id="p16"></p>
    <p id="p17"></p>
    <p id="p18"></p>
    <p id="p19"></p>
    <p id="p20"></p>
    <p id="p21"></p>
    <p id="p22"></p>
    <p id="p23"></p>
    <p id="p24"></p>
    <p id="p25"></p>
    <p id="p26"></p>
    <p id="p27"></p>
    <p id="p28"></p>
    <p id="p29"></p>   
    <p id="p30"></p>
    </div>







<script>
    function Changetest() {
        GetKeyWords();

       /* text = $('#pp'+1).html();
       text = text.replace(new RegExp("прямой", 'ig'), '<html><a href = "https://www.google.ru/">прямой</a></html>');
        $('#pp1').html(text);
          
        var text;
       $('#pp1').text(""); //обнуляет содержимое элемента
        
        for (var i = 1; i <= 30; i++) {
            text = $('#pp' + i).html();
            text = text.replace(new RegExp("прямой", 'ig'), '<html><a href = "https://www.google.ru/">прямой</a></html>');
            $('#pp' + i).html(text); //добавляет ссыли 
        }*/
         
    }
    </script>

<script>
    //166724944
    var currentUserId;
    var currentOffset;
    var currentListOfTexts;
    var currentKeyWords;
    var currentReferences;

    $(document).ready(function () {
        $('#InfoDiv').hide();
        $('#MessagesDiv').hide();

        $('#ShowMessages').click(function () {
            
            $('#ToShowMessagesDiv').slideToggle("1000");
            //alert($("p").text());

            /*for (var i = 0 ; i < $("p").length; i++) {
                alert($("p")[i].textContent);
               
            }*/
        });

    });
   


    function ConfirmInfo(id) {
        $('#ShowMessagesButton').slideToggle("1000");
        currentUserId = $('#UserIdValue').val();
        currentOffset = $('#OffsetValue').val();
        if (currentOffset.length == 0) { currentOffset = "0"; }
        if (currentUserId.length == 0) { alert("Enter the user id"); return; }

        $(id).slideToggle("1000");
        if (!$('#MessagesDiv').hidden) { $('#MessagesDiv').slideUp("1000"); }
        $('#ShowMessagesButton').slideToggle("1000"); 
        
        GetPosts(); 
    }




    function Filter() {
        $('#InfoDiv').slideToggle("1000");
    }
    function ShowMessages() {
        $('#MessagesDiv').slideToggle("1000");
    }

    function GetKeyWords() {
        alert("Finding the keywords started.");
        $.ajax({
            type: "GET",
            url: "../Home/GetKeyWords",
            data: { "userId": currentUserId, "offset": currentOffset },
            success: function (json) {
                currentKeyWords = [];
                currentReferences = [];
                var result = JSON.parse(json);

              Object.keys(result).forEach(function (item,i) {
                    currentKeyWords[i] = item;
                    currentReferences[i] = result[item];
                });
            
              var text;
              
                for (var i = 0; i < currentListOfTexts.length; i++) {
                    for (var wordInd = 0; wordInd < currentKeyWords.length; wordInd++) {
                        text = $('#p' + i).html();

                        text = text.replace(new RegExp(" " + currentKeyWords[wordInd] + " ", 'ig'), '<html><a href = ' + currentReferences[wordInd] + '>' + " " + currentKeyWords[wordInd] + " " + '</a></html>');
                        text = text.replace(new RegExp(currentKeyWords[wordInd] + " ", 'ig'), '<html><a href = ' + currentReferences[wordInd] + '>' + currentKeyWords[wordInd] + " " + '</a></html>');
                        text = text.replace(new RegExp(" " + currentKeyWords[wordInd], 'ig'), '<html><a href = ' + currentReferences[wordInd] + '>' + " " + currentKeyWords[wordInd] + '</a></html>');
                    
                        $('#p' + i).html(text);
                    }
                    
                   /* if (i == currentListOfText.length - 1) {
                        if ($('#ShowMessagesButton').hidden) { $('#ShowMessagesButton').slideToggle("1000"); }
                    }*/
                    if (i == currentListOfTexts.length - 1) { alert("Finding keywords is complete!"); }
                }

                
 
            }
        });
    }
    function GetPosts() {
     
        $.ajax({
            type: "GET",
            url: "../Home/GetPosts",
            data: { "userId": currentUserId, "offset": currentOffset },
            success: function (json) {
                currentListOfTexts = JSON.parse(json);

               /* if (currentListOfTexts.length == 0) {
                    alert("No posts found.");
                    $('#ShowMessagesButton').slideToggle("1000");
                    return;
                }
                */
                for (var ind = 0; ind < 30; ind++) {
                    $('#p'+i).text("");
                }
                for (var i = 0; i < currentListOfTexts.length; i++) {
                    $('#p' + i).text(currentListOfTexts[i]);
                }
                
                GetKeyWords();
                
            }
        });
    }
 
    /*function GetPosts() {
     
        $.ajax({
            type: "GET",
            url: "../Home/GetPosts",
            data: { "userId": currentUserId, "offset": currentOffset },
            success: function (json) {
                currentListOfTexts = JSON.parse(json);    //присваивает массив мессаг
                //alert("complite")
                $('#ShowMessagesButton').attr("hidden", false);
               
            }
        });
    }*/
</script>